[alias]
	co = checkout
	hist = log --oneline --decorate --all --graph -n 10
	br = branch
	hista = log --oneline --decorate --graph --all
	st = status -s
	aa = add -A
	difs = diff --staged
[push]
	default = simple
